/*
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scrollLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  @keyframes scrollRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(50%); }
  }

  .animate-scrollLeft {
    animation: scrollLeft 30s linear infinite;
  }

  .animate-scrollRight {
    animation: scrollRight 30s linear infinite;
  }
}
*/